.Body {
    background-image: url('mixed.jpg');
    background-color: black;
}

p {
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    float: left;
    width: 50%;
}
 
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
color: white;
}

.brand {
display: flex;
align-items: center;
}

.logo {
padding-left: 10px;
width: 40px;
height: auto;
}

.nav-links {
list-style: none;
display: flex;
gap: 30px;
}

.nav-links li {
position: relative;
}

.nav-links li a {
color: white;
text-decoration: none;
font-size: 1.2rem;
}

.nav-links li a:hover {
color: #bd2323;
font-size: 1.5rem;
}

img{
    height: 200px;
}