/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: white;
}

 h2 {
    color: #bd2323;
    text-transform: uppercase;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1f1f1f;
}

.brand {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #bd2323;
}

/* Contact container styles */
.contact-container {
    max-width: 900px;
    margin: 100px auto;
    background-color: #1f1f1f;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.2);
}

.contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-container p {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #ccc;
}

/* Contact form styles */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form label {
    font-size: 1.2rem;
    color: #fff;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #bd2323;
    background-color: #1f1f1f;
    color: #fff;
    font-size: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #fff;
}

.contact-form button {
    padding: 10px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #bd2323;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
