body{
    background-color: black;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', 'Didot', 'Bodoni', 'Georgia', serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}

.brand {
    display: flex;
    align-items: center;
}

.logo {
    padding-left: 10px;
    width: 40px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li {
    position: relative;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-links li a:hover {
    color: #bd2323;
    font-size: 1.5rem;
}

.hero {
    height: 100vh;
    background: url('images/image4.jpg') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.233);
}

.hero-content {
    color: white;
    text-align: center;
    z-index: 1;
}

.hero-content h1 {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.hero-content h2 {
    font-size: 2rem;
    margin-top: 10px;
    text-transform: uppercase;
}

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: auto;
        height: 90vh;
    }
}